/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import org.openapitools.client.models.BatteriesBatteryIdChargePostRequest
import org.openapitools.client.models.BatteryChargeCycleEntry
import org.openapitools.client.models.BatteryDetailsResponse
import org.openapitools.client.models.CurrentBatteryResponse
import org.openapitools.client.models.Error400
import org.openapitools.client.models.Error500

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class BatteriesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Tracks a charge cycle of the given battery
     * 
     * @param batteryId A valid battery id
     * @param batteriesBatteryIdChargePostRequest 
     * @return BatteryChargeCycleEntry
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun batteriesBatteryIdChargePost(batteryId: kotlin.Int, batteriesBatteryIdChargePostRequest: BatteriesBatteryIdChargePostRequest): HttpResponse<BatteryChargeCycleEntry> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = batteriesBatteryIdChargePostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/batteries/{batteryId}/charge".replace("{" + "batteryId" + "}", "$batteryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Returns details of the given battery
     * 
     * @param batteryId A valid battery id
     * @return BatteryDetailsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun batteriesBatteryIdGet(batteryId: kotlin.Int): HttpResponse<BatteryDetailsResponse> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/batteries/{batteryId}".replace("{" + "batteryId" + "}", "$batteryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Prints the Grocycode label of the given battery on the configured label printer
     * 
     * @param batteryId A valid battery id
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun batteriesBatteryIdPrintlabelGet(batteryId: kotlin.Int): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/batteries/{batteryId}/printlabel".replace("{" + "batteryId" + "}", "$batteryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Undoes a battery charge cycle
     * 
     * @param chargeCycleId A valid charge cycle id
     * @return void
     */
    open suspend fun batteriesChargeCyclesChargeCycleIdUndoPost(chargeCycleId: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/batteries/charge-cycles/{chargeCycleId}/undo".replace("{" + "chargeCycleId" + "}", "$chargeCycleId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns all batteries incl. the next estimated charge time per battery
     * 
     * @param query An array of filter conditions, each of them is a string in the form of &#x60;&lt;field&gt;&lt;condition&gt;&lt;value&gt;&#x60; where&lt;br&gt;&#x60;&lt;field&gt;&#x60; is a valid field name&lt;br&gt;&#x60;&lt;condition&gt;&#x60; is a comparison operator, one of&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&#x3D;&#x60; equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!&#x3D;&#x60; not equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;~&#x60; LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!~&#x60; not LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x60; less&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x60; greater&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x3D;&#x60; less or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x3D;&#x60; greater or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;§&#x60; regular expression&lt;br&gt;&#x60;&lt;value&gt;&#x60; is the value to search for (optional)
     * @param order A valid field name by which the response should be ordered, use the separator &#x60;:&#x60; to specify the sort order (&#x60;asc&#x60; or &#x60;desc&#x60;, defaults to &#x60;asc&#x60; when omitted) (optional)
     * @param limit The maximum number of objects to return (optional)
     * @param offset The number of objects to skip (optional)
     * @return kotlin.collections.List<CurrentBatteryResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun batteriesGet(query: kotlin.collections.List<kotlin.String>? = null, order: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null): HttpResponse<kotlin.collections.List<CurrentBatteryResponse>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        query?.apply { localVariableQuery["query[]"] = toMultiValue(this, "multi") }
        order?.apply { localVariableQuery["order"] = listOf("$order") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/batteries",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<BatteriesGetResponse>().map { value }
    }

    @Serializable(BatteriesGetResponse.Companion::class)
    private class BatteriesGetResponse(val value: List<CurrentBatteryResponse>) {
        companion object : KSerializer<BatteriesGetResponse> {
            private val serializer: KSerializer<List<CurrentBatteryResponse>> = serializer<List<CurrentBatteryResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: BatteriesGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = BatteriesGetResponse(serializer.deserialize(decoder))
        }
    }

}
