/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import org.openapitools.client.models.ChoreDetailsResponse
import org.openapitools.client.models.ChoreLogEntry
import org.openapitools.client.models.ChoresChoreIdExecutePostRequest
import org.openapitools.client.models.ChoresExecutionsCalculateNextAssignmentsPostRequest
import org.openapitools.client.models.CurrentChoreResponse
import org.openapitools.client.models.Error400
import org.openapitools.client.models.Error500

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ChoresApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Tracks an execution of the given chore
     * 
     * @param choreId A valid chore id
     * @param choresChoreIdExecutePostRequest 
     * @return ChoreLogEntry
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun choresChoreIdExecutePost(choreId: kotlin.Int, choresChoreIdExecutePostRequest: ChoresChoreIdExecutePostRequest): HttpResponse<ChoreLogEntry> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = choresChoreIdExecutePostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/chores/{choreId}/execute".replace("{" + "choreId" + "}", "$choreId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Returns details of the given chore
     * 
     * @param choreId A valid chore id
     * @return ChoreDetailsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun choresChoreIdGet(choreId: kotlin.Int): HttpResponse<ChoreDetailsResponse> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/chores/{choreId}".replace("{" + "choreId" + "}", "$choreId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Prints the Grocycode label of the given chore on the configured label printer
     * 
     * @param choreId A valid chore id
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun choresChoreIdPrintlabelGet(choreId: kotlin.Int): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/chores/{choreId}/printlabel".replace("{" + "choreId" + "}", "$choreId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Merges two chores into one
     * 
     * @param choreIdToKeep A valid chore id of the chore to keep
     * @param choreIdToRemove A valid chore id of the chore to remove
     * @return void
     */
    open suspend fun choresChoreIdToKeepMergeChoreIdToRemovePost(choreIdToKeep: kotlin.Int, choreIdToRemove: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/chores/{choreIdToKeep}/merge/{choreIdToRemove}".replace("{" + "choreIdToKeep" + "}", "$choreIdToKeep").replace("{" + "choreIdToRemove" + "}", "$choreIdToRemove"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * (Re)calculates all next user assignments of all chores
     * 
     * @param choresExecutionsCalculateNextAssignmentsPostRequest  (optional)
     * @return void
     */
    open suspend fun choresExecutionsCalculateNextAssignmentsPost(choresExecutionsCalculateNextAssignmentsPostRequest: ChoresExecutionsCalculateNextAssignmentsPostRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = choresExecutionsCalculateNextAssignmentsPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/chores/executions/calculate-next-assignments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Undoes a chore execution
     * 
     * @param executionId A valid chore execution id
     * @return void
     */
    open suspend fun choresExecutionsExecutionIdUndoPost(executionId: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/chores/executions/{executionId}/undo".replace("{" + "executionId" + "}", "$executionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns all chores incl. the next estimated execution time per chore
     * 
     * @param query An array of filter conditions, each of them is a string in the form of &#x60;&lt;field&gt;&lt;condition&gt;&lt;value&gt;&#x60; where&lt;br&gt;&#x60;&lt;field&gt;&#x60; is a valid field name&lt;br&gt;&#x60;&lt;condition&gt;&#x60; is a comparison operator, one of&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&#x3D;&#x60; equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!&#x3D;&#x60; not equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;~&#x60; LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!~&#x60; not LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x60; less&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x60; greater&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x3D;&#x60; less or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x3D;&#x60; greater or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;§&#x60; regular expression&lt;br&gt;&#x60;&lt;value&gt;&#x60; is the value to search for (optional)
     * @param order A valid field name by which the response should be ordered, use the separator &#x60;:&#x60; to specify the sort order (&#x60;asc&#x60; or &#x60;desc&#x60;, defaults to &#x60;asc&#x60; when omitted) (optional)
     * @param limit The maximum number of objects to return (optional)
     * @param offset The number of objects to skip (optional)
     * @return kotlin.collections.List<CurrentChoreResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun choresGet(query: kotlin.collections.List<kotlin.String>? = null, order: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null): HttpResponse<kotlin.collections.List<CurrentChoreResponse>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        query?.apply { localVariableQuery["query[]"] = toMultiValue(this, "multi") }
        order?.apply { localVariableQuery["order"] = listOf("$order") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/chores",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ChoresGetResponse>().map { value }
    }

    @Serializable(ChoresGetResponse.Companion::class)
    private class ChoresGetResponse(val value: List<CurrentChoreResponse>) {
        companion object : KSerializer<ChoresGetResponse> {
            private val serializer: KSerializer<List<CurrentChoreResponse>> = serializer<List<CurrentChoreResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ChoresGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ChoresGetResponse(serializer.deserialize(decoder))
        }
    }

}
