/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import org.openapitools.client.models.Error400
import org.openapitools.client.models.FileGroups

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class FilesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Deletes the given file
     * 
     * @param group The file group
     * @param fileName The file name (including extension)&lt;br&gt;**BASE64 encoded**
     * @return void
     */
    open suspend fun filesGroupFileNameDelete(group: FileGroups, fileName: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/files/{group}/{fileName}".replace("{" + "group" + "}", "${ group.value }").replace("{" + "fileName" + "}", "$fileName"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter forceServeAs
     */
    @Serializable
    enum class ForceServeAsFilesGroupFileNameGet(val value: kotlin.String) {
        
        @SerialName(value = "picture")
        picture("picture")
        
    }

    /**
     * Serves the given file
     * With proper Content-Type header
     * @param group The file group
     * @param fileName The file name (including extension)&lt;br&gt;**BASE64 encoded**
     * @param forceServeAs Force the file to be served as the given type (optional)
     * @param bestFitHeight Only when using &#x60;force_serve_as&#x60; &#x3D; &#x60;picture&#x60;: Downscale the picture to the given height while maintaining the aspect ratio (optional)
     * @param bestFitWidth Only when using &#x60;force_serve_as&#x60; &#x3D; &#x60;picture&#x60;: Downscale the picture to the given width while maintaining the aspect ratio (optional)
     * @return org.openapitools.client.infrastructure.OctetByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun filesGroupFileNameGet(group: FileGroups, fileName: kotlin.String, forceServeAs: ForceServeAsFilesGroupFileNameGet? = null, bestFitHeight: kotlin.Double? = null, bestFitWidth: kotlin.Double? = null): HttpResponse<org.openapitools.client.infrastructure.OctetByteArray> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        forceServeAs?.apply { localVariableQuery["force_serve_as"] = listOf("${ forceServeAs.value }") }
        bestFitHeight?.apply { localVariableQuery["best_fit_height"] = listOf("$bestFitHeight") }
        bestFitWidth?.apply { localVariableQuery["best_fit_width"] = listOf("$bestFitWidth") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/files/{group}/{fileName}".replace("{" + "group" + "}", "${ group.value }").replace("{" + "fileName" + "}", "$fileName"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Uploads a single file
     * The file will be stored at /data/storage/{group}/{file_name} (you need to remember the group and file name to get or delete it again)
     * @param group The file group
     * @param fileName The file name (including extension)&lt;br&gt;**BASE64 encoded**
     * @param body  (optional)
     * @return void
     */
    open suspend fun filesGroupFileNamePut(group: FileGroups, fileName: kotlin.String, body: org.openapitools.client.infrastructure.OctetByteArray? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/files/{group}/{fileName}".replace("{" + "group" + "}", "${ group.value }").replace("{" + "fileName" + "}", "$fileName"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
