/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import org.openapitools.client.models.Error400
import org.openapitools.client.models.Error500
import org.openapitools.client.models.ExposedEntityIncludingUserEntities
import org.openapitools.client.models.ExposedEntityIncludingUserEntitiesNotIncludingNotEditable
import org.openapitools.client.models.ExposedEntityNotIncludingNotDeletable
import org.openapitools.client.models.ExposedEntityNotIncludingNotEditable
import org.openapitools.client.models.ExposedEntityNotIncludingNotListable
import org.openapitools.client.models.ObjectsEntityGet200ResponseInner
import org.openapitools.client.models.ObjectsEntityPost200Response

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class GenericEntityInteractionsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Returns all objects of the given entity
     * 
     * @param entity A valid entity name
     * @param query An array of filter conditions, each of them is a string in the form of &#x60;&lt;field&gt;&lt;condition&gt;&lt;value&gt;&#x60; where&lt;br&gt;&#x60;&lt;field&gt;&#x60; is a valid field name&lt;br&gt;&#x60;&lt;condition&gt;&#x60; is a comparison operator, one of&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&#x3D;&#x60; equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!&#x3D;&#x60; not equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;~&#x60; LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!~&#x60; not LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x60; less&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x60; greater&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x3D;&#x60; less or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x3D;&#x60; greater or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;§&#x60; regular expression&lt;br&gt;&#x60;&lt;value&gt;&#x60; is the value to search for (optional)
     * @param order A valid field name by which the response should be ordered, use the separator &#x60;:&#x60; to specify the sort order (&#x60;asc&#x60; or &#x60;desc&#x60;, defaults to &#x60;asc&#x60; when omitted) (optional)
     * @param limit The maximum number of objects to return (optional)
     * @param offset The number of objects to skip (optional)
     * @return kotlin.collections.List<ObjectsEntityGet200ResponseInner>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun objectsEntityGet(entity: ExposedEntityNotIncludingNotListable, query: kotlin.collections.List<kotlin.String>? = null, order: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null): HttpResponse<kotlin.collections.List<ObjectsEntityGet200ResponseInner>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        query?.apply { localVariableQuery["query[]"] = toMultiValue(this, "multi") }
        order?.apply { localVariableQuery["order"] = listOf("$order") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/objects/{entity}".replace("{" + "entity" + "}", "$entity"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ObjectsEntityGetResponse>().map { value }
    }

    @Serializable(ObjectsEntityGetResponse.Companion::class)
    private class ObjectsEntityGetResponse(val value: List<ObjectsEntityGet200ResponseInner>) {
        companion object : KSerializer<ObjectsEntityGetResponse> {
            private val serializer: KSerializer<List<ObjectsEntityGet200ResponseInner>> = serializer<List<ObjectsEntityGet200ResponseInner>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ObjectsEntityGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ObjectsEntityGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Deletes a single object of the given entity
     * 
     * @param entity A valid entity name
     * @param objectId A valid object id of the given entity
     * @return void
     */
    open suspend fun objectsEntityObjectIdDelete(entity: ExposedEntityNotIncludingNotDeletable, objectId: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/objects/{entity}/{objectId}".replace("{" + "entity" + "}", "$entity").replace("{" + "objectId" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns a single object of the given entity
     * 
     * @param entity A valid entity name
     * @param objectId A valid object id of the given entity
     * @return ObjectsEntityGet200ResponseInner
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun objectsEntityObjectIdGet(entity: ExposedEntityNotIncludingNotListable, objectId: kotlin.Int): HttpResponse<ObjectsEntityGet200ResponseInner> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/objects/{entity}/{objectId}".replace("{" + "entity" + "}", "$entity").replace("{" + "objectId" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Edits the given object of the given entity
     * 
     * @param entity A valid entity name
     * @param objectId A valid object id of the given entity
     * @param objectsEntityGet200ResponseInner A valid entity object of the entity specified in parameter *entity*
     * @return void
     */
    open suspend fun objectsEntityObjectIdPut(entity: ExposedEntityNotIncludingNotEditable, objectId: kotlin.Int, objectsEntityGet200ResponseInner: ObjectsEntityGet200ResponseInner): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = objectsEntityGet200ResponseInner

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/objects/{entity}/{objectId}".replace("{" + "entity" + "}", "$entity").replace("{" + "objectId" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Adds a single object of the given entity
     * 
     * @param entity A valid entity name
     * @param objectsEntityGet200ResponseInner A valid entity object of the entity specified in parameter *entity*
     * @return ObjectsEntityPost200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun objectsEntityPost(entity: ExposedEntityNotIncludingNotEditable, objectsEntityGet200ResponseInner: ObjectsEntityGet200ResponseInner): HttpResponse<ObjectsEntityPost200Response> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = objectsEntityGet200ResponseInner

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/objects/{entity}".replace("{" + "entity" + "}", "$entity"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Returns all userfields with their values of the given object of the given entity
     * 
     * @param entity A valid entity name
     * @param objectId A valid object id of the given entity
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun userfieldsEntityObjectIdGet(entity: ExposedEntityIncludingUserEntities, objectId: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/userfields/{entity}/{objectId}".replace("{" + "entity" + "}", "$entity").replace("{" + "objectId" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Edits the given userfields of the given object of the given entity
     * 
     * @param entity A valid entity name
     * @param objectId A valid object id of the given entity
     * @param body A valid entity object of the entity specified in parameter *entity*
     * @return void
     */
    open suspend fun userfieldsEntityObjectIdPut(entity: ExposedEntityIncludingUserEntitiesNotIncludingNotEditable, objectId: kotlin.String, body: kotlin.Any): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/userfields/{entity}/{objectId}".replace("{" + "entity" + "}", "$entity").replace("{" + "objectId" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
