/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import org.openapitools.client.models.Error400
import org.openapitools.client.models.Error500
import org.openapitools.client.models.RecipeFulfillmentResponse
import org.openapitools.client.models.RecipesRecipeIdAddNotFulfilledProductsToShoppinglistPostRequest
import org.openapitools.client.models.RecipesRecipeIdCopyPost200Response

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class RecipesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get stock fulfillment information for all recipe
     * 
     * @param query An array of filter conditions, each of them is a string in the form of &#x60;&lt;field&gt;&lt;condition&gt;&lt;value&gt;&#x60; where&lt;br&gt;&#x60;&lt;field&gt;&#x60; is a valid field name&lt;br&gt;&#x60;&lt;condition&gt;&#x60; is a comparison operator, one of&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&#x3D;&#x60; equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!&#x3D;&#x60; not equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;~&#x60; LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!~&#x60; not LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x60; less&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x60; greater&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x3D;&#x60; less or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x3D;&#x60; greater or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;§&#x60; regular expression&lt;br&gt;&#x60;&lt;value&gt;&#x60; is the value to search for (optional)
     * @param order A valid field name by which the response should be ordered, use the separator &#x60;:&#x60; to specify the sort order (&#x60;asc&#x60; or &#x60;desc&#x60;, defaults to &#x60;asc&#x60; when omitted) (optional)
     * @param limit The maximum number of objects to return (optional)
     * @param offset The number of objects to skip (optional)
     * @return kotlin.collections.List<RecipeFulfillmentResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun recipesFulfillmentGet(query: kotlin.collections.List<kotlin.String>? = null, order: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null): HttpResponse<kotlin.collections.List<RecipeFulfillmentResponse>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        query?.apply { localVariableQuery["query[]"] = toMultiValue(this, "multi") }
        order?.apply { localVariableQuery["order"] = listOf("$order") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/recipes/fulfillment",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RecipesFulfillmentGetResponse>().map { value }
    }

    @Serializable(RecipesFulfillmentGetResponse.Companion::class)
    private class RecipesFulfillmentGetResponse(val value: List<RecipeFulfillmentResponse>) {
        companion object : KSerializer<RecipesFulfillmentGetResponse> {
            private val serializer: KSerializer<List<RecipeFulfillmentResponse>> = serializer<List<RecipeFulfillmentResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: RecipesFulfillmentGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = RecipesFulfillmentGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Adds all missing products for the given recipe to the shopping list
     * 
     * @param recipeId A valid recipe id
     * @param recipesRecipeIdAddNotFulfilledProductsToShoppinglistPostRequest  (optional)
     * @return void
     */
    open suspend fun recipesRecipeIdAddNotFulfilledProductsToShoppinglistPost(recipeId: kotlin.String, recipesRecipeIdAddNotFulfilledProductsToShoppinglistPostRequest: RecipesRecipeIdAddNotFulfilledProductsToShoppinglistPostRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = recipesRecipeIdAddNotFulfilledProductsToShoppinglistPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/recipes/{recipeId}/add-not-fulfilled-products-to-shoppinglist".replace("{" + "recipeId" + "}", "$recipeId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Consumes all in stock ingredients of the given recipe (for ingredients that are only partially in stock, the in stock amount will be consumed)
     * 
     * @param recipeId A valid recipe id
     * @return void
     */
    open suspend fun recipesRecipeIdConsumePost(recipeId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/recipes/{recipeId}/consume".replace("{" + "recipeId" + "}", "$recipeId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Copies a recipe
     * 
     * @param recipeId A valid recipe id of the recipe to copy
     * @return RecipesRecipeIdCopyPost200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun recipesRecipeIdCopyPost(recipeId: kotlin.Int): HttpResponse<RecipesRecipeIdCopyPost200Response> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/recipes/{recipeId}/copy".replace("{" + "recipeId" + "}", "$recipeId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get stock fulfillment information for the given recipe
     * 
     * @param recipeId A valid recipe id
     * @return RecipeFulfillmentResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun recipesRecipeIdFulfillmentGet(recipeId: kotlin.String): HttpResponse<RecipeFulfillmentResponse> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/recipes/{recipeId}/fulfillment".replace("{" + "recipeId" + "}", "$recipeId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Prints the Grocycode label of the given recipe on the configured label printer
     * 
     * @param recipeId A valid recipe id
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun recipesRecipeIdPrintlabelGet(recipeId: kotlin.Int): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/recipes/{recipeId}/printlabel".replace("{" + "recipeId" + "}", "$recipeId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
