/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import org.openapitools.client.models.CurrentStockResponse
import org.openapitools.client.models.CurrentVolatilStockResponse
import org.openapitools.client.models.Error400
import org.openapitools.client.models.Error500
import org.openapitools.client.models.ExternalBarcodeLookupResponse
import org.openapitools.client.models.ProductDetailsResponse
import org.openapitools.client.models.ProductPriceHistory
import org.openapitools.client.models.StockEntry
import org.openapitools.client.models.StockEntryEntryIdPutRequest
import org.openapitools.client.models.StockLocation
import org.openapitools.client.models.StockLogEntry
import org.openapitools.client.models.StockProductsProductIdAddPostRequest
import org.openapitools.client.models.StockProductsProductIdConsumePostRequest
import org.openapitools.client.models.StockProductsProductIdInventoryPostRequest
import org.openapitools.client.models.StockProductsProductIdOpenPostRequest
import org.openapitools.client.models.StockProductsProductIdTransferPostRequest
import org.openapitools.client.models.StockShoppinglistAddMissingProductsPostRequest
import org.openapitools.client.models.StockShoppinglistAddProductPostRequest
import org.openapitools.client.models.StockShoppinglistClearPostRequest
import org.openapitools.client.models.StockShoppinglistRemoveProductPostRequest

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class StockApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Executes an external barcode lookoup via the configured plugin with the given barcode
     * 
     * @param barcode The barcode to lookup up
     * @param add When true, the product is added to the database on a successful lookup and the new product id is in included in the response (optional, default to false)
     * @return ExternalBarcodeLookupResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockBarcodesExternalLookupBarcodeGet(barcode: kotlin.String, add: kotlin.Boolean? = false): HttpResponse<ExternalBarcodeLookupResponse> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        add?.apply { localVariableQuery["add"] = listOf("$add") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock/barcodes/external-lookup/{barcode}".replace("{" + "barcode" + "}", "$barcode"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns the given stock booking
     * 
     * @param bookingId A valid stock booking id
     * @return StockLogEntry
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockBookingsBookingIdGet(bookingId: kotlin.Int): HttpResponse<StockLogEntry> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock/bookings/{bookingId}".replace("{" + "bookingId" + "}", "$bookingId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Undoes a booking
     * 
     * @param bookingId A valid stock booking id
     * @return void
     */
    open suspend fun stockBookingsBookingIdUndoPost(bookingId: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/bookings/{bookingId}/undo".replace("{" + "bookingId" + "}", "$bookingId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns details of the given stock
     * 
     * @param entryId A valid stock entry id
     * @return StockEntry
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockEntryEntryIdGet(entryId: kotlin.Int): HttpResponse<StockEntry> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock/entry/{entryId}".replace("{" + "entryId" + "}", "$entryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Prints the Grocycode / stock entry label of the given entry on the configured label printer
     * 
     * @param entryId A valid stock entry id
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockEntryEntryIdPrintlabelGet(entryId: kotlin.Int): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock/entry/{entryId}/printlabel".replace("{" + "entryId" + "}", "$entryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Edits the stock entry
     * 
     * @param entryId A valid stock entry id
     * @param stockEntryEntryIdPutRequest 
     * @return kotlin.collections.List<StockLogEntry>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockEntryEntryIdPut(entryId: kotlin.Int, stockEntryEntryIdPutRequest: StockEntryEntryIdPutRequest): HttpResponse<kotlin.collections.List<StockLogEntry>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = stockEntryEntryIdPutRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/stock/entry/{entryId}".replace("{" + "entryId" + "}", "$entryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<StockEntryEntryIdPutResponse>().map { value }
    }


    @Serializable(StockEntryEntryIdPutResponse.Companion::class)
    private class StockEntryEntryIdPutResponse(val value: List<StockLogEntry>) {
        companion object : KSerializer<StockEntryEntryIdPutResponse> {
            private val serializer: KSerializer<List<StockLogEntry>> = serializer<List<StockLogEntry>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: StockEntryEntryIdPutResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = StockEntryEntryIdPutResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Returns all products which are currently in stock incl. the next due date per product
     * 
     * @return kotlin.collections.List<CurrentStockResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockGet(): HttpResponse<kotlin.collections.List<CurrentStockResponse>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<StockGetResponse>().map { value }
    }

    @Serializable(StockGetResponse.Companion::class)
    private class StockGetResponse(val value: List<CurrentStockResponse>) {
        companion object : KSerializer<StockGetResponse> {
            private val serializer: KSerializer<List<CurrentStockResponse>> = serializer<List<CurrentStockResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: StockGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = StockGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Returns all stock entries of the given location
     * 
     * @param locationId A valid location id
     * @param query An array of filter conditions, each of them is a string in the form of &#x60;&lt;field&gt;&lt;condition&gt;&lt;value&gt;&#x60; where&lt;br&gt;&#x60;&lt;field&gt;&#x60; is a valid field name&lt;br&gt;&#x60;&lt;condition&gt;&#x60; is a comparison operator, one of&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&#x3D;&#x60; equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!&#x3D;&#x60; not equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;~&#x60; LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!~&#x60; not LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x60; less&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x60; greater&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x3D;&#x60; less or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x3D;&#x60; greater or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;§&#x60; regular expression&lt;br&gt;&#x60;&lt;value&gt;&#x60; is the value to search for (optional)
     * @param order A valid field name by which the response should be ordered, use the separator &#x60;:&#x60; to specify the sort order (&#x60;asc&#x60; or &#x60;desc&#x60;, defaults to &#x60;asc&#x60; when omitted) (optional)
     * @param limit The maximum number of objects to return (optional)
     * @param offset The number of objects to skip (optional)
     * @return kotlin.collections.List<StockEntry>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockLocationsLocationIdEntriesGet(locationId: kotlin.Int, query: kotlin.collections.List<kotlin.String>? = null, order: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null): HttpResponse<kotlin.collections.List<StockEntry>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        query?.apply { localVariableQuery["query[]"] = toMultiValue(this, "multi") }
        order?.apply { localVariableQuery["order"] = listOf("$order") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock/locations/{locationId}/entries".replace("{" + "locationId" + "}", "$locationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<StockLocationsLocationIdEntriesGetResponse>().map { value }
    }

    @Serializable(StockLocationsLocationIdEntriesGetResponse.Companion::class)
    private class StockLocationsLocationIdEntriesGetResponse(val value: List<StockEntry>) {
        companion object : KSerializer<StockLocationsLocationIdEntriesGetResponse> {
            private val serializer: KSerializer<List<StockEntry>> = serializer<List<StockEntry>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: StockLocationsLocationIdEntriesGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = StockLocationsLocationIdEntriesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Adds the given amount of the given product to stock
     * 
     * @param productId A valid product id
     * @param stockProductsProductIdAddPostRequest 
     * @return kotlin.collections.List<StockLogEntry>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockProductsProductIdAddPost(productId: kotlin.Int, stockProductsProductIdAddPostRequest: StockProductsProductIdAddPostRequest): HttpResponse<kotlin.collections.List<StockLogEntry>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = stockProductsProductIdAddPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/products/{productId}/add".replace("{" + "productId" + "}", "$productId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<StockProductsProductIdAddPostResponse>().map { value }
    }


    @Serializable(StockProductsProductIdAddPostResponse.Companion::class)
    private class StockProductsProductIdAddPostResponse(val value: List<StockLogEntry>) {
        companion object : KSerializer<StockProductsProductIdAddPostResponse> {
            private val serializer: KSerializer<List<StockLogEntry>> = serializer<List<StockLogEntry>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: StockProductsProductIdAddPostResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = StockProductsProductIdAddPostResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Removes the given amount of the given product from stock
     * 
     * @param productId A valid product id
     * @param stockProductsProductIdConsumePostRequest 
     * @return kotlin.collections.List<StockLogEntry>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockProductsProductIdConsumePost(productId: kotlin.Int, stockProductsProductIdConsumePostRequest: StockProductsProductIdConsumePostRequest): HttpResponse<kotlin.collections.List<StockLogEntry>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = stockProductsProductIdConsumePostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/products/{productId}/consume".replace("{" + "productId" + "}", "$productId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<StockProductsProductIdConsumePostResponse>().map { value }
    }


    @Serializable(StockProductsProductIdConsumePostResponse.Companion::class)
    private class StockProductsProductIdConsumePostResponse(val value: List<StockLogEntry>) {
        companion object : KSerializer<StockProductsProductIdConsumePostResponse> {
            private val serializer: KSerializer<List<StockLogEntry>> = serializer<List<StockLogEntry>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: StockProductsProductIdConsumePostResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = StockProductsProductIdConsumePostResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Returns all stock entries of the given product in order of next use (Opened first, then first due first, then first in first out)
     * 
     * @param productId A valid product id
     * @param includeSubProducts If sub products should be included (if the given product is a parent product and in addition to the ones of the given product) (optional)
     * @param query An array of filter conditions, each of them is a string in the form of &#x60;&lt;field&gt;&lt;condition&gt;&lt;value&gt;&#x60; where&lt;br&gt;&#x60;&lt;field&gt;&#x60; is a valid field name&lt;br&gt;&#x60;&lt;condition&gt;&#x60; is a comparison operator, one of&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&#x3D;&#x60; equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!&#x3D;&#x60; not equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;~&#x60; LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!~&#x60; not LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x60; less&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x60; greater&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x3D;&#x60; less or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x3D;&#x60; greater or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;§&#x60; regular expression&lt;br&gt;&#x60;&lt;value&gt;&#x60; is the value to search for (optional)
     * @param order A valid field name by which the response should be ordered, use the separator &#x60;:&#x60; to specify the sort order (&#x60;asc&#x60; or &#x60;desc&#x60;, defaults to &#x60;asc&#x60; when omitted) (optional)
     * @param limit The maximum number of objects to return (optional)
     * @param offset The number of objects to skip (optional)
     * @return kotlin.collections.List<StockEntry>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockProductsProductIdEntriesGet(productId: kotlin.Int, includeSubProducts: kotlin.Boolean? = null, query: kotlin.collections.List<kotlin.String>? = null, order: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null): HttpResponse<kotlin.collections.List<StockEntry>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        includeSubProducts?.apply { localVariableQuery["include_sub_products"] = listOf("$includeSubProducts") }
        query?.apply { localVariableQuery["query[]"] = toMultiValue(this, "multi") }
        order?.apply { localVariableQuery["order"] = listOf("$order") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock/products/{productId}/entries".replace("{" + "productId" + "}", "$productId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<StockProductsProductIdEntriesGetResponse>().map { value }
    }

    @Serializable(StockProductsProductIdEntriesGetResponse.Companion::class)
    private class StockProductsProductIdEntriesGetResponse(val value: List<StockEntry>) {
        companion object : KSerializer<StockProductsProductIdEntriesGetResponse> {
            private val serializer: KSerializer<List<StockEntry>> = serializer<List<StockEntry>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: StockProductsProductIdEntriesGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = StockProductsProductIdEntriesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Returns details of the given product
     * 
     * @param productId A valid product id
     * @return ProductDetailsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockProductsProductIdGet(productId: kotlin.Int): HttpResponse<ProductDetailsResponse> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock/products/{productId}".replace("{" + "productId" + "}", "$productId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Inventories the given product (adds/removes based on the given new amount)
     * 
     * @param productId A valid product id
     * @param stockProductsProductIdInventoryPostRequest 
     * @return kotlin.collections.List<StockLogEntry>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockProductsProductIdInventoryPost(productId: kotlin.Int, stockProductsProductIdInventoryPostRequest: StockProductsProductIdInventoryPostRequest): HttpResponse<kotlin.collections.List<StockLogEntry>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = stockProductsProductIdInventoryPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/products/{productId}/inventory".replace("{" + "productId" + "}", "$productId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<StockProductsProductIdInventoryPostResponse>().map { value }
    }


    @Serializable(StockProductsProductIdInventoryPostResponse.Companion::class)
    private class StockProductsProductIdInventoryPostResponse(val value: List<StockLogEntry>) {
        companion object : KSerializer<StockProductsProductIdInventoryPostResponse> {
            private val serializer: KSerializer<List<StockLogEntry>> = serializer<List<StockLogEntry>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: StockProductsProductIdInventoryPostResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = StockProductsProductIdInventoryPostResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Returns all locations where the given product currently has stock
     * 
     * @param productId A valid product id
     * @param includeSubProducts If sub product locations should be included (if the given product is a parent product and in addition to the ones of the given product) (optional)
     * @param query An array of filter conditions, each of them is a string in the form of &#x60;&lt;field&gt;&lt;condition&gt;&lt;value&gt;&#x60; where&lt;br&gt;&#x60;&lt;field&gt;&#x60; is a valid field name&lt;br&gt;&#x60;&lt;condition&gt;&#x60; is a comparison operator, one of&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&#x3D;&#x60; equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!&#x3D;&#x60; not equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;~&#x60; LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;!~&#x60; not LIKE&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x60; less&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x60; greater&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&lt;&#x3D;&#x60; less or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;&gt;&#x3D;&#x60; greater or equal&lt;br&gt;&amp;nbsp;&amp;nbsp;&#x60;§&#x60; regular expression&lt;br&gt;&#x60;&lt;value&gt;&#x60; is the value to search for (optional)
     * @param order A valid field name by which the response should be ordered, use the separator &#x60;:&#x60; to specify the sort order (&#x60;asc&#x60; or &#x60;desc&#x60;, defaults to &#x60;asc&#x60; when omitted) (optional)
     * @param limit The maximum number of objects to return (optional)
     * @param offset The number of objects to skip (optional)
     * @return kotlin.collections.List<StockLocation>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockProductsProductIdLocationsGet(productId: kotlin.Int, includeSubProducts: kotlin.Boolean? = null, query: kotlin.collections.List<kotlin.String>? = null, order: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null): HttpResponse<kotlin.collections.List<StockLocation>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        includeSubProducts?.apply { localVariableQuery["include_sub_products"] = listOf("$includeSubProducts") }
        query?.apply { localVariableQuery["query[]"] = toMultiValue(this, "multi") }
        order?.apply { localVariableQuery["order"] = listOf("$order") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock/products/{productId}/locations".replace("{" + "productId" + "}", "$productId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<StockProductsProductIdLocationsGetResponse>().map { value }
    }

    @Serializable(StockProductsProductIdLocationsGetResponse.Companion::class)
    private class StockProductsProductIdLocationsGetResponse(val value: List<StockLocation>) {
        companion object : KSerializer<StockProductsProductIdLocationsGetResponse> {
            private val serializer: KSerializer<List<StockLocation>> = serializer<List<StockLocation>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: StockProductsProductIdLocationsGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = StockProductsProductIdLocationsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Marks the given amount of the given product as opened
     * 
     * @param productId A valid product id
     * @param stockProductsProductIdOpenPostRequest 
     * @return kotlin.collections.List<StockLogEntry>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockProductsProductIdOpenPost(productId: kotlin.Int, stockProductsProductIdOpenPostRequest: StockProductsProductIdOpenPostRequest): HttpResponse<kotlin.collections.List<StockLogEntry>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = stockProductsProductIdOpenPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/products/{productId}/open".replace("{" + "productId" + "}", "$productId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<StockProductsProductIdOpenPostResponse>().map { value }
    }


    @Serializable(StockProductsProductIdOpenPostResponse.Companion::class)
    private class StockProductsProductIdOpenPostResponse(val value: List<StockLogEntry>) {
        companion object : KSerializer<StockProductsProductIdOpenPostResponse> {
            private val serializer: KSerializer<List<StockLogEntry>> = serializer<List<StockLogEntry>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: StockProductsProductIdOpenPostResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = StockProductsProductIdOpenPostResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Returns the price history of the given product
     * 
     * @param productId A valid product id
     * @return kotlin.collections.List<ProductPriceHistory>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockProductsProductIdPriceHistoryGet(productId: kotlin.Int): HttpResponse<kotlin.collections.List<ProductPriceHistory>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock/products/{productId}/price-history".replace("{" + "productId" + "}", "$productId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<StockProductsProductIdPriceHistoryGetResponse>().map { value }
    }

    @Serializable(StockProductsProductIdPriceHistoryGetResponse.Companion::class)
    private class StockProductsProductIdPriceHistoryGetResponse(val value: List<ProductPriceHistory>) {
        companion object : KSerializer<StockProductsProductIdPriceHistoryGetResponse> {
            private val serializer: KSerializer<List<ProductPriceHistory>> = serializer<List<ProductPriceHistory>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: StockProductsProductIdPriceHistoryGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = StockProductsProductIdPriceHistoryGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Prints the Grocycode label of the given product on the configured label printer
     * 
     * @param productId A valid product id
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockProductsProductIdPrintlabelGet(productId: kotlin.Int): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock/products/{productId}/printlabel".replace("{" + "productId" + "}", "$productId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Merges two products into one
     * 
     * @param productIdToKeep A valid product id of the product to keep
     * @param productIdToRemove A valid product id of the product to remove
     * @return void
     */
    open suspend fun stockProductsProductIdToKeepMergeProductIdToRemovePost(productIdToKeep: kotlin.Int, productIdToRemove: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/products/{productIdToKeep}/merge/{productIdToRemove}".replace("{" + "productIdToKeep" + "}", "$productIdToKeep").replace("{" + "productIdToRemove" + "}", "$productIdToRemove"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Transfers the given amount of the given product from one location to another (this is currently not supported for tare weight handling enabled products)
     * 
     * @param productId A valid product id
     * @param stockProductsProductIdTransferPostRequest 
     * @return kotlin.collections.List<StockLogEntry>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockProductsProductIdTransferPost(productId: kotlin.Int, stockProductsProductIdTransferPostRequest: StockProductsProductIdTransferPostRequest): HttpResponse<kotlin.collections.List<StockLogEntry>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = stockProductsProductIdTransferPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/products/{productId}/transfer".replace("{" + "productId" + "}", "$productId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<StockProductsProductIdTransferPostResponse>().map { value }
    }


    @Serializable(StockProductsProductIdTransferPostResponse.Companion::class)
    private class StockProductsProductIdTransferPostResponse(val value: List<StockLogEntry>) {
        companion object : KSerializer<StockProductsProductIdTransferPostResponse> {
            private val serializer: KSerializer<List<StockLogEntry>> = serializer<List<StockLogEntry>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: StockProductsProductIdTransferPostResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = StockProductsProductIdTransferPostResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Adds expired products to the given shopping list
     * 
     * @param stockShoppinglistAddMissingProductsPostRequest  (optional)
     * @return void
     */
    open suspend fun stockShoppinglistAddExpiredProductsPost(stockShoppinglistAddMissingProductsPostRequest: StockShoppinglistAddMissingProductsPostRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = stockShoppinglistAddMissingProductsPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/shoppinglist/add-expired-products",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Adds currently missing products (below defined min. stock amount) to the given shopping list
     * 
     * @param stockShoppinglistAddMissingProductsPostRequest  (optional)
     * @return void
     */
    open suspend fun stockShoppinglistAddMissingProductsPost(stockShoppinglistAddMissingProductsPostRequest: StockShoppinglistAddMissingProductsPostRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = stockShoppinglistAddMissingProductsPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/shoppinglist/add-missing-products",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Adds overdue products to the given shopping list
     * 
     * @param stockShoppinglistAddMissingProductsPostRequest  (optional)
     * @return void
     */
    open suspend fun stockShoppinglistAddOverdueProductsPost(stockShoppinglistAddMissingProductsPostRequest: StockShoppinglistAddMissingProductsPostRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = stockShoppinglistAddMissingProductsPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/shoppinglist/add-overdue-products",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Adds the given amount of the given product to the given shopping list
     * If the product is already on the shopping list, the given amount will increase the amount of the already existing item, otherwise a new item will be added
     * @param stockShoppinglistAddProductPostRequest 
     * @return void
     */
    open suspend fun stockShoppinglistAddProductPost(stockShoppinglistAddProductPostRequest: StockShoppinglistAddProductPostRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = stockShoppinglistAddProductPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/shoppinglist/add-product",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Removes all items from the given shopping list
     * 
     * @param stockShoppinglistClearPostRequest  (optional)
     * @return void
     */
    open suspend fun stockShoppinglistClearPost(stockShoppinglistClearPostRequest: StockShoppinglistClearPostRequest? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = stockShoppinglistClearPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/shoppinglist/clear",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Removes the given amount of the given product from the given shopping list, if it is on it
     * If the resulting amount is &lt;&#x3D; 0, the item will be completely removed from the given list, otherwise the given amount will reduce the amount of the existing item
     * @param stockShoppinglistRemoveProductPostRequest 
     * @return void
     */
    open suspend fun stockShoppinglistRemoveProductPost(stockShoppinglistRemoveProductPostRequest: StockShoppinglistRemoveProductPostRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = stockShoppinglistRemoveProductPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/shoppinglist/remove-product",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Returns all stock bookings of the given transaction id
     * 
     * @param transactionId A valid stock transaction id
     * @return kotlin.collections.List<StockLogEntry>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockTransactionsTransactionIdGet(transactionId: kotlin.String): HttpResponse<kotlin.collections.List<StockLogEntry>> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock/transactions/{transactionId}".replace("{" + "transactionId" + "}", "$transactionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<StockTransactionsTransactionIdGetResponse>().map { value }
    }

    @Serializable(StockTransactionsTransactionIdGetResponse.Companion::class)
    private class StockTransactionsTransactionIdGetResponse(val value: List<StockLogEntry>) {
        companion object : KSerializer<StockTransactionsTransactionIdGetResponse> {
            private val serializer: KSerializer<List<StockLogEntry>> = serializer<List<StockLogEntry>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: StockTransactionsTransactionIdGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = StockTransactionsTransactionIdGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Undoes a transaction
     * 
     * @param transactionId A valid stock transaction id
     * @return void
     */
    open suspend fun stockTransactionsTransactionIdUndoPost(transactionId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/stock/transactions/{transactionId}/undo".replace("{" + "transactionId" + "}", "$transactionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns all products which are due soon, overdue, expired or currently missing
     * 
     * @param dueSoonDays The number of days in which products are considered to be due soon (optional, default to 5)
     * @return CurrentVolatilStockResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stockVolatileGet(dueSoonDays: kotlin.Int? = 5): HttpResponse<CurrentVolatilStockResponse> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        dueSoonDays?.apply { localVariableQuery["due_soon_days"] = listOf("$dueSoonDays") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/stock/volatile",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
