/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import org.openapitools.client.models.DbChangedTimeResponse
import org.openapitools.client.models.Error400
import org.openapitools.client.models.MissingLocalizationRequest
import org.openapitools.client.models.SystemInfoGet200Response
import org.openapitools.client.models.TimeResponse

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SystemApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Returns all config settings
     * 
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun systemConfigGet(): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/system/config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns the time when the database was last changed
     * 
     * @return DbChangedTimeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun systemDbChangedTimeGet(): HttpResponse<DbChangedTimeResponse> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/system/db-changed-time",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns information about the installed Grocy version, PHP runtime and OS
     * 
     * @return SystemInfoGet200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun systemInfoGet(): HttpResponse<SystemInfoGet200Response> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/system/info",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns all localization strings (in the by the user desired language)
     * 
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun systemLocalizationStringsGet(): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/system/localization-strings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Logs a missing localization string
     * Only when MODE &#x3D;&#x3D; &#39;dev&#39;, so should only be called then
     * @param missingLocalizationRequest A valid MissingLocalizationRequest object
     * @return void
     */
    open suspend fun systemLogMissingLocalizationPost(missingLocalizationRequest: MissingLocalizationRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = missingLocalizationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/system/log-missing-localization",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Returns the current server time
     * 
     * @param offset Offset of timestamp in seconds. Can be positive or negative. (optional)
     * @return TimeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun systemTimeGet(offset: kotlin.Int? = null): HttpResponse<TimeResponse> {

        val localVariableAuthNames = listOf<String>("ApiKeyAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/system/time",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
